<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
  <title>Rutinitas Pelajar</title>
</head>
<body>
  <header>
    <nav class="green">
      <ul class="sidenav" id="side-nav">
        <li>
            <div class="user-view green darken-1">
              <i class="material-icons">account_circle</i>
              <div class="user-content">
                <span class="display-name">User</span>
                <!-- <span class="masuk"><a href="/masuk">Masuk dengan google</a></span> -->
                <span class="white-text">user@mail.com</span>
              </div>
            </div>
        </li>
        <li><a class="subheader">Rutinitas</a></li>
        <li>
            <a href="/tugas" aria-label="Tugas" class="waves-effect sidenav-item about-trigger"><i class="material-icons">assignment</i>Tugas</a>
        </li>
        <li>
          <a href="/jadwal" aria-label="Jadwal Pelajaran" class="waves-effect sidenav-item about-trigger"><i class="material-icons">schedule</i>Jadwal Pelajaran</a>
        </li>
        <li>
          <a href="/nilai" aria-label="Nilai" class="waves-effect sidenav-item about-trigger"><i class="material-icons">school</i>Nilai</a>
        </li>
        <li>
          <a href="/resolusi" aria-label="Resolusi" class="waves-effect sidenav-item about-trigger"><i class="material-icons">lightbulb_outline</i>Resolusi</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">App</a></li>
        <li>
            <a href="/simpan" aria-label="Simpan aplikasi" class="waves-effect sidenav-item about-trigger"><i class="material-icons">get_app</i>Simpan Aplikasi</a>
        </li>
        <li>
            <a href="/pengaturan" aria-label="pengaturan" class="waves-effect sidenav-item"><i class="material-icons">settings</i>Pengaturan</a>
        </li>
        <li>
            <button aria-label="About" class="waves-effect sidenav-item" id="tentang">
                <i class="material-icons">info</i>Tentang
            </button>
        </li>
      </ul>

      <div class="nav-wrapper container">
          <button data-target="side-nav" id="trigger-element" class="waves-effect waves-light sidenav-trigger white-text" aria-label="menu"><i class="material-icons" aria-label="">menu</i></button>
          <a href="/" class="brand-logo center"></a>
      </div>
    </nav>
  </header>

  <main class="simpan">
    <section class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <div class="device-section">
                <span class="card-title">Komputer</span>

                <ol>
                  <li>Di komputer, buka Chrome.</li>
                  <li>Buka situs yang ingin diinstal.</li>
                  <li>Di bagian kanan atas kolom URL, klik Instal <img src="//lh3.googleusercontent.com/A1rx226Em2QI88gjHcLgWuAoFpxEtq2TF4OUQi4Ti_9xoX044b7hTFxp6wbjTZEefToK=w36-h36" alt="Tambah" title="Tambah" width="18" height="18">.</li>
                  <li>Ikuti petunjuk di layar untuk menginstal.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <div class="device-section">
                <span class="card-title">Android</span>

                <ol>
                  <li>Pada perangkat Android, buka Chrome <img src="//lh3.googleusercontent.com/-20NuyB0WC36P5OvH-HnVwgMQlIRx47n0At3ZLRZuU2UIuXpsDZVhrsFJMW5DQkQVQU=w36-h36" alt="Chrome" title="Chrome" width="18" height="18">.</li>
                  <li>Buka situs yang ingin diinstal.</li>
                  <li>Ketuk <strong>Tambahkan ke layar utama</strong>.</li>
                  <li>Ikuti petunjuk di layar untuk menginstal.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>